In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('processed.cleveland.csv', names= ['Age', 'Sex', 'Cp','Trestbps','Chol','Fbs','Restecg','Thalach','Exang','Oldpeak','Slope','Ca','Thal','Predicted'])

In [3]:
df = df.convert_objects(convert_numeric= True)

/Users/Rajneesh/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

In [4]:
df['Ca'] = df['Ca'].fillna(value = df['Ca'].mode()[0])
df['Thal'] = df['Thal'].fillna(value = df['Thal'].mode()[0])

In [5]:
df['Predicted'] = (df['Predicted'] > 0).astype(int)

In [6]:
X = df.iloc[:, :-1].values
y = df.iloc[:, 13]. values

In [7]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [8]:
df.head()

,Age,Sex,Cp,Trestbps,Chol,Fbs,Restecg,Thalach,Exang,Oldpeak,Slope,Ca,Thal,Predicted
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,1
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
Age          303 non-null float64
Sex          303 non-null float64
Cp           303 non-null float64
Trestbps     303 non-null float64
Chol         303 non-null float64
Fbs          303 non-null float64
Restecg      303 non-null float64
Thalach      303 non-null float64
Exang        303 non-null float64
Oldpeak      303 non-null float64
Slope        303 non-null float64
Ca           303 non-null float64
Thal         303 non-null float64
Predicted    303 non-null int64
dtypes: float64(13), int64(1)
memory usage: 33.2 KB

In [9]:
onehotencoder = OneHotEncoder(categorical_features=[2,6,10,11,12])

In [10]:
X = onehotencoder.fit_transform(X).toarray()

In [11]:
X = pd.DataFrame(X)

In [12]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,63.0,1.0,145.0,233.0,1.0,150.0,0.0,2.3
1,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,67.0,1.0,160.0,286.0,0.0,108.0,1.0,1.5
2,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,67.0,1.0,120.0,229.0,0.0,129.0,1.0,2.6
3,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,37.0,1.0,130.0,250.0,0.0,187.0,0.0,3.5
4,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,41.0,0.0,130.0,204.0,0.0,172.0,0.0,1.4

In [13]:
X = X.drop(X.columns[[0,4,7,10,14]],axis=1)
X.head()

,1,2,3,5,6,8,9,11,12,13,15,16,17,18,19,20,21,22,23,24
0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,63.0,1.0,145.0,233.0,1.0,150.0,0.0,2.3
1,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,67.0,1.0,160.0,286.0,0.0,108.0,1.0,1.5
2,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,67.0,1.0,120.0,229.0,0.0,129.0,1.0,2.6
3,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,37.0,1.0,130.0,250.0,0.0,187.0,0.0,3.5
4,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41.0,0.0,130.0,204.0,0.0,172.0,0.0,1.4

In [14]:
from sklearn.preprocessing import StandardScaler

scaler =  StandardScaler()
scaler.fit(X)
scaled_features = scaler.transform(X)
df_feat = pd.DataFrame(scaled_features)

In [15]:
X = df_feat

y = df['Predicted']

In [16]:
pd.DataFrame(X).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,-0.444554,-0.629534,-0.951662,-0.115663,1.023375,-0.926766,3.664502,-0.522599,-0.378677,-0.265841,3.979112,-0.793116,0.948726,0.686202,0.757525,-0.264900,2.394438,0.017197,-0.696631,1.087338
1,-0.444554,-0.629534,1.050793,-0.115663,1.023375,1.079021,-0.272888,-0.522599,-0.378677,3.761649,-0.251312,-0.793116,1.392002,0.686202,1.611220,0.760415,-0.417635,-1.821905,1.435481,0.397182
2,-0.444554,-0.629534,1.050793,-0.115663,1.023375,1.079021,-0.272888,-0.522599,2.640773,-0.265841,-0.251312,1.260850,1.392002,0.686202,-0.665300,-0.342283,-0.417635,-0.902354,1.435481,1.346147
3,-0.444554,1.588476,-0.951662,-0.115663,-0.977158,-0.926766,3.664502,-0.522599,-0.378677,-0.265841,-0.251312,-0.793116,-1.932564,0.686202,-0.096170,0.063974,-0.417635,1.637359,-0.696631,2.122573
4,2.249444,-0.629534,-0.951662,-0.115663,1.023375,-0.926766,-0.272888,-0.522599,-0.378677,-0.265841,-0.251312,-0.793116,-1.489288,-1.457296,-0.096170,-0.825922,-0.417635,0.980537,-0.696631,0.310912

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.3, random_state=0)

In [19]:
from sklearn.linear_model import LogisticRegression

In [20]:
lg = LogisticRegression()

In [21]:
lg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [22]:
y_pred = lg.predict(X_test)

In [23]:
#Building an optimal model

In [42]:
import statsmodels.formula.api as sm

In [29]:
X = np.append(arr = np.ones((303,1)).astype(int), values = X, axis=1)

In [150]:
X_opt = X[:,[0,3,6,8,9,10,14,15,19,20]]

In [151]:
regressor_OLS = sm.OLS(endog= y, exog= X_opt).fit()

In [152]:
regressor_OLS.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              Predicted   R-squared:                       0.534
Model:                            OLS   Adj. R-squared:                  0.520
Method:                 Least Squares   F-statistic:                     37.34
Date:                Wed, 04 Jan 2017   Prob (F-statistic):           9.52e-44
Time:                        16:41:19   Log-Likelihood:                -103.12
No. Observations:                 303   AIC:                             226.2
Df Residuals:                     293   BIC:                             263.4
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const          0.4587      0.020     23.091      0.000         0.420     0.498
x1             0.1419      0.023      6.064      0.000         0.096     0.188
x2             0.0801      0.022      3.725      0.000         0.038     0.122
x3             0.1176      0.021      5.584      0.000         0.076     0.159
x4             0.1055      0.022      4.880      0.000         0.063     0.148
x5             0.0806      0.021      3.824      0.000         0.039     0.122
x6             0.0972      0.020      4.771      0.000         0.057     0.137
x7             0.0495      0.020      2.426      0.016         0.009     0.090
x8             0.0610      0.023      2.594      0.010         0.015     0.107
x9             0.0739      0.023      3.245      0.001         0.029     0.119
==============================================================================
Omnibus:                        5.935   Durbin-Watson:                   2.051
Prob(Omnibus):                  0.051   Jarque-Bera (JB):                5.828
Skew:                           0.338   Prob(JB):                       0.0543
Kurtosis:                       3.064   Cond. No.                         2.10
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [153]:
pd.DataFrame(X, columns=['Constant','Cp1','Cp2','Cp3','Ecg1','Ecg2','Slope1','Slope2','Ca1','Ca2','Ca3','Thalach1','Thalach2','Age','Sex','Trestbps','Chol','Fbs','Thal','Exang','Oldpeak']).head()

,Constant,Cp1,Cp2,Cp3,Ecg1,Ecg2,Slope1,Slope2,Ca1,Ca2,...,Thalach1,Thalach2,Age,Sex,Trestbps,Chol,Fbs,Thal,Exang,Oldpeak
0,1.0,-0.444554,-0.629534,-0.951662,-0.115663,1.023375,-0.926766,3.664502,-0.522599,-0.378677,...,3.979112,-0.793116,0.948726,0.686202,0.757525,-0.264900,2.394438,0.017197,-0.696631,1.087338
1,1.0,-0.444554,-0.629534,1.050793,-0.115663,1.023375,1.079021,-0.272888,-0.522599,-0.378677,...,-0.251312,-0.793116,1.392002,0.686202,1.611220,0.760415,-0.417635,-1.821905,1.435481,0.397182
2,1.0,-0.444554,-0.629534,1.050793,-0.115663,1.023375,1.079021,-0.272888,-0.522599,2.640773,...,-0.251312,1.260850,1.392002,0.686202,-0.665300,-0.342283,-0.417635,-0.902354,1.435481,1.346147
3,1.0,-0.444554,1.588476,-0.951662,-0.115663,-0.977158,-0.926766,3.664502,-0.522599,-0.378677,...,-0.251312,-0.793116,-1.932564,0.686202,-0.096170,0.063974,-0.417635,1.637359,-0.696631,2.122573
4,1.0,2.249444,-0.629534,-0.951662,-0.115663,1.023375,-0.926766,-0.272888,-0.522599,-0.378677,...,-0.251312,-0.793116,-1.489288,-1.457296,-0.096170,-0.825922,-0.417635,0.980537,-0.696631,0.310912

In [154]:
pd.DataFrame(X_opt).head()

,0,1,2,3,4,5,6,7,8,9
0,1.0,-0.951662,-0.926766,-0.522599,-0.378677,-0.265841,0.686202,0.757525,-0.696631,1.087338
1,1.0,1.050793,1.079021,-0.522599,-0.378677,3.761649,0.686202,1.611220,1.435481,0.397182
2,1.0,1.050793,1.079021,-0.522599,2.640773,-0.265841,0.686202,-0.665300,1.435481,1.346147
3,1.0,-0.951662,-0.926766,-0.522599,-0.378677,-0.265841,0.686202,-0.096170,-0.696631,2.122573
4,1.0,-0.951662,-0.926766,-0.522599,-0.378677,-0.265841,-1.457296,-0.096170,-0.696631,0.310912